@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$sidebar-bg-color: #1d1d1d;
$submenu-bg-color: rgba(255, 255, 255, 0.05);
$submenu-bg-color-collapsed: rgba(29, 29, 29, 0.95);
$sidebar-color: #adadad;
$highlight-color: #d8d8d8;
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import "~react-pro-sidebar/dist/scss/styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  height: 100vh;
  color: #353535;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background: #353535;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    display: none;
  }

  .sidebar-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .sidebar-btn {
      padding: 1px 15px;
      border-radius: 40px;
      background: rgba(255, 255, 255, 0.05);
      color: #adadad;
      text-decoration: none;
      margin: 0 auto;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        margin-left: 5px;
        font-size: 13px;
      }
      &:hover {
        color: $highlight-color;
      }
    }
  }

  .collapsed {
    .sidebar-btn {
      display: inline-block;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      line-height: 40px;
      padding: 0;
    }
  }

  .sidebar-content a {
    color: #adadad;
    text-decoration: none;
  }

  .body-content {
    flex-basis: 100%;
    overflow-y: scroll;
    overflow-x: auto;
  }

  @media (max-width: 767.98px) {
    overflow-x: hidden;
    h1 {
      font-size: 24px;
    }
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }
  }
}

.badge {
  padding: 3px 6px;
  font-size: 9px;
  letter-spacing: 1px;
  border-radius: 15px;
  &.red {
    color: #ffffff;
    background: #d63030;
  }
  &.gray {
    color: #ffffff;
    background: #777777;
  }
  &.yellow {
    color: #000000;
    background: #ffd331;
  }
}
// end sidebar;

   /* Start scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff0000cc;
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background-color: #ff000066;
  }
  // end scrollbar;

// Dashboard page styles: (Dashboard.jsx)
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-box {
  width: 30%;
  border: 1px solid #dbdada;
  padding: 10px;
  margin: 10px 5px;
}

// 404 page contents styles: (NotFound.jsx)
.backButton {
  color: azure;
  width: 300px;
  padding: 10px 5px;
  font-size: 24px;
  background-color: #6363ff;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  opacity: 80%;
}

.backButton:focus {
  border: 1px solid tomato;
}

// Add products page contents styles: (AddProduct.jsx)
.main {
  padding: 20px;
  margin: 30px;
  background-color: #fff;
}

.main-form {
  display: flex;
  flex-wrap: wrap;
}

.left-input {
  flex-basis: 30%;
  flex-direction: column;
}

.left-input input {
  width: 250px;
  padding: 10px 5px;
  margin: 10px 5px;
  border: 1px solid #000;
  background-color: transparent;
}

.right-input {
  flex-basis: 30%;
  flex-direction: column;
}

.right-input .file {
  border: 1px solid #000;
}

.right-input input {
  width: 250px;
  padding: 10px 5px;
  margin: 9px 5px;
  border: 1px solid #000;
  background-color: transparent;
}

.last-input textarea {
  width: 400px;
  height: 67%;
}

.last-input .add-btn {
  width: 255px;
  font-size: 20px;
  letter-spacing: 2px;
  color: azure;
  background-color: green;
  padding: 10px 5px;
  margin-top: 12px;
  border: none;
}

.last-input .add-btn:hover {
  opacity: 50%;
  cursor: pointer;
  border: 1px solid blueviolet;
}

.last-input .add-btn:focus {
  color: red;
  border: 1px solid blueviolet;
}

// Users control page styles: (UserControl.jsx)
.user-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.user-data .user-name {
  color: blueviolet;
  font-size: 16px;
  cursor: pointer;
}

// Users single page styles: (Users.jsx)
.user-modal-content {
  position: fixed;
  z-index: 1;
  top: 10%;
  bottom: 10%;
  left: 20%;
  right: 3%;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: auto;
}

.main-profile {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 20px;
  letter-spacing: 2px;
}

.main-profile ul {
  list-style: none;
  line-height: 35px;
  padding: 0;
}

.profile-left {
  flex-basis: 25%;
  margin-top: 25px;
  margin-right: 50px;
}

.profile-right {
  flex-basis: 70%;
}

.profile-left img {
  width: 280px;
  height: 185px;
}

.content-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 20px;
}

.content-top button {
  border: 1px solid #efeef0;
  font-weight: bold;
  color: #7c7979;
  background-color: #7270700e;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.content-top button:hover {
  border: 1px solid blueviolet;
  opacity: 80%;
  cursor: pointer;
}

.content-top button:focus {
  color: #fff;
  border: 1px solid blueviolet;
}

.tween-content {
  display: flex;
  flex-wrap: wrap;
}

.user-title {
  flex-basis: 40%;
}

.user-info {
  flex-basis: 60%;
  color: blueviolet;
}
