/* 
All product viewer/table styles: 
    01. (CategoryProducts.jsx) 
    02. (ViewProduct.jsx) 
*/

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: dimgray;
}

th, td {
    padding: 10px 0 10px 5px;
    text-align: start;
    border-bottom: 1px solid #e9e9e9;
}

tbody tr:hover {
    background-color: #fdf9f9;
}

.action {
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.action:hover {
    border-radius: 50%;
    background-color: gainsboro;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.close {
    position: fixed;
    color: azure;
    top: 4%;
    right: 2%;
    font-size: 36px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Single products viewer styles: (ViewProduct.jsx) */

.modal-content {
    position: fixed;
    z-index: 1;
    top: 10%;
    bottom: 10%;
    left: 20%;
    right: 6%;
    padding: 30px;
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: auto;
    animation: slidein 1s;
}

@keyframes slidein {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

.products-mainn {
    padding: 0 15px;
}

.form-div {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin-right: 30px;
}

.form-div img {
    width: 250px;
    height: 300px;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid #a7a6a6;
}

.product-detail label {
    color: red;
}

.product-detail input {
    color: #a7a6a6;
    width: 350px;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid #a7a6a6;
}

@media (max-width: 767px) {
    .modal-content h2 {
        font-size: 16px;
    }
    .product-detail input {
        width: 100%;
    }
}

.product-features button {
    width: 150px;
    height: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: azure;
    background-color: green;
}

.product-features button:hover {
    opacity: 80%;
    cursor: pointer;
}

.product-features button:focus {
    opacity: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 14px 0;
    color: dimgrey;
    font-weight: bold;
    letter-spacing: 3px;
}

.footer p:hover {
    color: #66b1ee;
    text-decoration: underline;
    cursor: pointer;
}