.review-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: aliceblue;
    padding: 10px;
    align-items: center;
}

.prod-sample {
    height: 50px;
    opacity: 0.5;
    border-radius: 5px;
}

.product-review span {
    padding: 0 20px;
}

.order-status {
    color: #85cf15;
}